*, *::before, *::after {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.42857143;
    line-height: 1.5;
    color: rgba(21, 21, 32, .9);
}

.section {
    padding: 100px 0 80px;
    padding: 120px 0;
    padding: 100px 0;
}

.section.header {
    padding-bottom: 0;
    background-image: linear-gradient(45deg, rgb(44 44 58 / 80%), rgb(49 49 60 / 80%)), url(../img2/space.jpg);
    background-size: cover;
    background-image: linear-gradient(45deg, rgb(44 44 58 / 90%), rgb(49 49 60 / 80%)), url(../img2/wallpaperbetter-15.jpg);
    /* background-image: linear-gradient(45deg, rgb(44 44 58 / 90%), rgb(49 49 60 / 90%)), url(../img2/wallpaperbetter-229.jpg); */
    /* background-image: linear-gradient(45deg, rgb(49 49 60 / 80%), rgb(44 44 58 / 90%)), url(../img2/wallpaperbetter-229.jpg); */
    background-image: linear-gradient(180deg, rgb(44 44 58 / 95%), rgb(49 49 60 / 95%)), url(../img2/wallpaperbetter-15.jpg);
    background-image: linear-gradient(180deg, rgb(44 44 58 / 90%), rgb(49 49 60 / 90%)), url(../img2/wallpaperbetter-4.jpg);
    background-image: linear-gradient(180deg, rgb(49 49 60 / 90%), #2c2c3a), url(../img2/wallpaperbetter-4.jpg);
    background-image: linear-gradient(180deg, rgb(49 49 60 / 90%), #2c2c3a), url(../img2/luca-bravo-XJXWbfSo2f0-unsplash.jpg);
    background-image: linear-gradient(180deg, rgb(50 50 86 / 90%), #2c2c3a), url(../img2/luca-bravo-XJXWbfSo2f0-unsplash.jpg);
    background-image: linear-gradient(180deg, rgb(43 43 78 / 90%), #2c2c3a), url(../img2/luca-bravo-XJXWbfSo2f0-unsplash.jpg);
    /* background-image: linear-gradient(180deg, rgb(38 38 66 / 90%), #2c2c3a), url(../img2/luca-bravo-XJXWbfSo2f0-unsplash.jpg); */
    background-image: linear-gradient(0deg, rgb(46 46 72 / 90%), #2c2c3a), url(../img2/luca-bravo-XJXWbfSo2f0-unsplash.jpg);
}

.chdot {
    color: #f5b3b5;
}

.header-nav {
    position: fixed;
    width: 100%;
    z-index: 999;
    background: rgba(0,0,0,0.8);
    background: rgb(26 26 33 / 85%);
    background: rgb(33 33 41 / 85%);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.global-nav-cta {
    background-color: #7996ff;
    background-color: #7996ff;
    background-color: #607ee8;
    background-color: #5c80ff;
    color: #fff !important;
    padding: 10px 18px 8px;
    padding: 11px 18px 9px;
    border-radius: 4px;
    transition: all .2s;
}

.global-nav-cta:hover {
    background-color: #5c80ff;
    background-color: #384fec;
    background-color: #436af1;
    background-color: #3757f5;
    background-color: #4e6cff;
    background-color: #4663f5;
    background-color: #506cf7;
}

.brand {
    display: flex;
    align-items: center;
}

.brand-global {
    text-decoration: none;
}

.chanya-hanako-brand {
    color: #ffffff;
    font-family: 'Sawarabi Mincho', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 19px;
    font-size: 21px;
    font-size: 20px;
    font-size: 19px;
    padding: 0 0 0 5px;
}

.jp-name-brand {
    font-family: 'Sawarabi Mincho', sans-serif;
    font-size: 17px;
}

.header-nav li {
    display: inline-block;
    margin: 0 0 -2px 30px;
}

.header-nav li:first-child {
    margin-left: 0;
}

h2.contact {
    /* color: rgb(83 83 109);
    color: rgb(65 84 146);
    color: rgb(74 91 146); */
    color: white;
    color: #d4d4e0;
    /* color: #e9e9f1; */
    /* color: #8a9ee4; */
    /* font-family: 'Source Code Pro', monospace; */
    font-size: 26px;
    color: rgb(158 158 181);
    color: rgb(144 144 167);
    color: #dbdbe8;
    margin-bottom: 20px;
}

.header-nav li a {
    font-size: 19px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #45b29a;
    color: #5d75c1;
    color: #475ca7;
    color: #697fce;
    color: #8c9fe0;
    color: #99adef;
    color: #9caee8;
    color: #9ba6cc;
    transition: all .2s;
}

.header-nav li a:hover, .header-nav li a:active, .header-nav li a.active {
    color: #8c9fe0;
    color: #9aacea;
    color: #aebef5;
    color: #bfceff;
    color: #cdd8ff;
    color: #d4deff;
    color: #dee6ff;
}

.header-nav li a:hover {
    /* background-color: #b1e0d5; */
    /* text-decoration: none; */
    color: #f1f4fd;
}

.nav-container {
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-brand-icon {
    width: 42px;
    width: 36px;
    padding: 10px 10px 10px 0;
}

h1 {
    color: #1e836c;
    color: #4a62b1;
    color: #31313c;
    /* color: #5d75c1; */
    color: #424258;
    color: #31313c;
    /* color: #1d1d26; */
    font-size: 2.8em;
    font-weight: 500;
    text-align: center;
}

h1.title {
    color: #ffffff;
    font-size: 82px;
    font-size: 78px;
    font-weight: 500;
    margin-bottom: 25px;
    text-align: center;
}

.title-inline {
    /* color: #748de4; */
    /* color: #8894bb; */
    /* color: #a5b5ec; */
    /* color: #8ba4fd; */
    color: #b9c4ec;
    font-size: 40px;
    font-weight: 600;
    font-size: 32px;
    font-weight: 400;
    display: block;
}

.occupation {
    font-weight: 400;
    font-size: 27px;
    color: rgb(134 134 156);
    color: rgb(144 144 167);
    background-color: #181725;
    /* background-color: #272631; */
    background-color: #23222d;
    width: fit-content;
    margin: auto;
    padding: 2px 15px 1px;
    padding: 4px 17px 2px;
    padding: 6px 18px 4px;
    padding: 8px 20px 6px;
    padding: 10px 24px 8px;
    border-radius: 6px;
    border-radius: 8px;
    color: white;
    font-size: 23px;
    font-size: 22px;
    color: #aaa8bd;
    color: #a7a7b7;
    color: #858598;
    color: #9c9cb1;
    color: #9090a2;
    text-transform: capitalize;
    background-color: rgb(16 18 33 / 60%);
    background-color: rgb(20 21 35 / 60%);
    background-image: linear-gradient(45deg, #c99a97, #4c6ee4);
    background-image: linear-gradient(45deg, #bd7c78, #4c6ee4);
    background-image: linear-gradient(45deg, #d2908c, #4c6ee4);
    background-image: linear-gradient(45deg, #c99a97, #5c80ff);
    color: #ffffff;
    /* color: #a2a5bd; */
}

.jp-name {
    font-size: 36px;
    margin-top: -10px;
    letter-spacing: 0px;
    font-family: 'Sawarabi Mincho', sans-serif;
}

h2 {
    color: rgb(49 49 60 / 70%);
    color: #31313c;
    font-size: 27px;
    font-size: 26px;
    margin-bottom: 24px;
    margin-bottom: 16px;
    font-weight: 500;
    font-weight: 600;
    text-transform: capitalize;
}

p {
    font-size: 20px;
    font-size: 19px;
}

.content-container {
    width: 860px;
    margin: 0 auto;
    position: relative;
    /* text-align: center; */
}

.center {
    text-align: center;
}

.introduction {
    width: 1200px;
}

.colored-section {
    background-color: #31313c;
    background-image: linear-gradient(180deg, #31313c, #2c2c3a);
    /* background-image: linear-gradient(180deg, #2c2c3a, #31313c); */
}

.chanyahanako {
    text-align: center;
    padding-top: 160px;
}

.intro {
    background-color: #26262f;
    background-color: #151520;
    color: #9eacdc;
    color: #abb7e0;
    color: #dae2ff;
    color: #c9cfe4;
    color: #bcc2d8;
    background-image: linear-gradient(-60deg, #151520, #222235);
    background-image: linear-gradient(46deg, #1d1d27, #222235);
    padding: 70px 0;
    padding: 60px 0;
}

.header-img {
    margin-top: 80px;
    margin-bottom: -7px;
    transform: scaleX(-1);
    width: 75%;
}

.top-cloud {
    position: absolute;
    right: 0;
}

.bottom-cloud {
    position: absolute;
    left: 0;
}

footer {
    background: #c5ded7;
    background-color: #d6e0ef;
    background-color: #bacbe4;
    background-color: #ccd1e6;
    background-color: #cacfe4;
    background-color: rgba(204, 209, 230, .8);
    background-color: rgb(61 82 152);
    background-color: rgb(49 68 130);
    background-color: rgb(63 84 150);
    padding: 3.5em 0 3em;
}

.profile-section {
    text-align: center;
}

.profile-content {
    /* width: 70%; */
    margin: 0 auto;
}

.profile-content h2 {
    color: #abb7e0;
    color: #aebcec;
    color: #abb7e0;
    color: #c8d3f7;
    color: #d8e1ff;
    color: #748de4;
    color: #7c93e2;
    font-family: 'Source Code Pro', monospace;
    font-size: 26px;
    text-align: center;
    margin-bottom: 10px;
}

.cta-btn {
    background-color: #5a74d0;
    background-color: #5c80ff;
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    padding: 18px 40px;
    text-decoration: none;
    transition: all .3s;
    margin: 10px 0 40px;
}

.cta-btn:hover {
    background-color: #31313c;
    background-color: #435aa5;
    background-color: #5b81ff;
    background-color: #6b8bfd;
    background-color: #4663f5;
    background-color: #4763ef;
    /* background-color: #506cf7; */
    /* box-shadow: 0 14px 30px 20px rgb(0 0 0 / 8%), 0 10px 40px 40px rgb(0 0 0 / 8%); */
}

.icon {
    font-size: 22px;
    margin-left: 8px;
}

.services h1 {
    font-weight: 600;
}

.services h1, .contact h1  {
    margin-bottom: 20px;
}

.services h1 {
    margin-bottom: 30px;
}

.contact h1 {
    color: #748de4;
    color: #738cda;
    color: #dfdfea;
    color: #e9e9f1;
    /* color: #6b4c64;  */
    /* color: #86667f; */
    /* color: #9a7b93; */
    /* color: #a98ea3; */
    /* color: #bda0b7; */
    /* color: #ceadc7; */
    /* color: #bf8da4; */
    /* color: #bf8d92; */
    /* color: #bf8d9b; */
    /* background: -webkit-linear-gradient(45deg, #be9895, #bd7d86);
    background: -webkit-linear-gradient(45deg, #be9895, #c78a93); */
    /* background: -webkit-linear-gradient(45deg, #c78a93, #be9895); */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    margin: 0 auto 15px; */
    margin-bottom: 30px;
}

.service-item {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.service-item:last-child {
    margin-bottom: 0;
}

/* .service-item.design {
    text-align: left;
    margin-top: 30px;
} */

.service-item.design img {
    margin-right: 50px;
    margin-right: 40px;
    height: 190px;
}

.service-item.dev {
    /* text-align: right; */
}

.service-item.dev img {
    margin-left: 50px;
    margin-left: 40px;
    height: 180px;
}

.service-item.summary {
    /* width: 90%; */
    margin: 0 auto;
    display: block;
}

.section.contact {
    /* background-color: #ab8695;
    background-image: linear-gradient(45deg, #7178aa, #f3eee8);
    background-image: linear-gradient(45deg, rgb(113 120 170 / 80%), rgb(243 238 232));
    background-image: linear-gradient(45deg, rgb(113 120 170 / 90%), rgb(243 238 232));
    background-image: linear-gradient(45deg, rgb(115 141 228), rgb(207 164 154 / 62%));
    background-image: linear-gradient(45deg, rgb(88 123 243 / 40%), rgb(239 186 191 / 62%));
    background-image: linear-gradient(45deg, rgb(96 127 230 / 40%), rgb(234 188 192 / 62%));
    background-image: linear-gradient(45deg, #5a559882, #6375ab78, #c299949e);
    background-image: linear-gradient(45deg, #4c4c7d, #1c1f33, #cc9b97);
    background-color: #4b4b5a;
    background-color: #3b3b48;
    background-color: #2a2a33; */
    /* background-color: #2b2b38; */
    background-image: linear-gradient(30deg, #2b2b38, #222640, #2b2f48);
    background-image: linear-gradient(30deg, #2b2b38, #222840);
    background-image: linear-gradient(30deg, #2b2b38, #222640);
    background-image: linear-gradient(30deg, #2b2b38, #2d3046);
    color: #ffffff;
    color: #c1c1d0;
    padding: 90px 0;
    padding: 80px 0;
    /* background-image: linear-gradient(45deg, rgb(44 44 58 / 80%), rgb(49 49 60 / 80%)), url(../img2/space.jpg);
    background-size: cover; */
    background-image: linear-gradient(180deg, rgb(49 49 60 / 48%), hsl(240deg 14% 20% / 98%)), url(../img2/mohammad-rahmani-d3Ysz1ziusM-unsplash.jpg);
    background-size: cover;    
    background-image: linear-gradient(180deg, rgb(49 49 60 / 80%), hsl(240deg 25% 14% / 100%)), url(../img2/mohammad-rahmani-1bNQVGzuy0U-unsplash.jpg);
    background-image: linear-gradient(180deg, rgb(49 49 60 / 80%), hsl(240deg 25% 14% / 100%)), url(../img2/mohammad-rahmani-_Fx34KeqIEw-unsplash.jpg);
    background-image: linear-gradient(180deg, rgb(49 49 60 / 80%), hsl(233deg 30% 20%)), url(../img2/mohammad-rahmani-_Fx34KeqIEw-unsplash.jpg);
    /* background-image: linear-gradient(180deg, rgb(49 49 60 / 80%), hsl(230deg 27% 23%)), url(../img2/mohammad-rahmani-_Fx34KeqIEw-unsplash.jpg); */
    background-image: linear-gradient(147deg, rgb(49 49 60 / 90%), hsl(233deg 30% 20%)), url(../img2/mohammad-rahmani-_Fx34KeqIEw-unsplash.jpg);
}

/* .section.about {
    padding: 90px 0;
} */

footer .content-container {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul li {
    list-style-type: none;
    display: inline-block;
}

footer ul li a {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #4b5fa0;
    color: rgba(93, 117, 193, 1);
    color: white;
    color: #949aaf;
    display: inline-block;
    margin-left: 18px;
    margin-bottom: 0;
    transition: all .3s;
}

footer ul li a:hover {
    /* opacity: .6; */
    color: #949db7;
    color: #9fa9c5;
    color: #31313c;
    color: #c6cad6;
    /* background: -webkit-linear-gradient( #363646, #686888);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #343c52;
    color: #a1a3b5;
    color: #83869e;
    color: #9eacd8;
    color: #7a89b7;
    color: #8996c1;
    color: #d9def1;
    color: #e9eeff;
}

footer {
    font-size: 18px;
    background-image: linear-gradient(45deg, #7178aa, transparent);
    background-image: linear-gradient(45deg , #555d98, transparent);
    background-image: linear-gradient(45deg, #555d98, #6375ab, #555d98);
    background-image: linear-gradient(45deg, #555d98, #6375ab, #c29994);
    background-image: linear-gradient(45deg, #151520, #31313c, #151520);
    background-image: linear-gradient(45deg, #31313c, #151520, #31313c);
    background-image: linear-gradient(45deg, #31313c, #393a54, #31313c);
    background-image: linear-gradient(45deg, #555d98, #6375ab, #c29994);
    background-image: linear-gradient(45deg, #545fad, #6375ab, #c29994);
    background-image: linear-gradient(45deg, #6375ab, #c29994, #525a94);
    background-image: linear-gradient(45deg, #5367a2, #c29994, #545fad);
    background-image: linear-gradient(45deg, #6375ab, #c29994, #545fad);
    background-image: linear-gradient(45deg, #5367a2, #c29994, #525a94);
    /* background-color: rgb(29 29 43); */
    background-image: linear-gradient(90deg, rgb(26 26 39), #1f202f);
    padding: 40px 0 30px;
    padding: 30px 0 20px;
    /* opacity: .9; */
}

.copyrights {
    font-size: 18px;
    color: #727c9c;
    color: #a8b1cc;
    color: #949db7;
    color: #ffffff;
    color: #616884;
    color: #757592;
    color: #949aaf;
}

.bxh {
    background-color: #ffeaca;
    /* background-color: #fff1ca; */
}

.bxh-g {
    background-color: #c7f9ee;
    background-color: rgb(244 160 160 / 40%);
}

.txh {
    font-family: 'Cormorant Garamond', serif;
    font-size: 23px;
    font-style: italic;
    font-weight: 600;
}

.txb {
    font-weight: 600;
}

.txhl {
    color: #748de4;
    color: #5d75c7;
    color: #4d65b7;
    color: rgba(21, 21, 32, .9);
    color: white;
    color: #5a72c7;
    color: #4e74e4;
    color: #4066d4;
    cursor: pointer;
    font-weight: 400;
    text-decoration: none;
}

.txhl:hover {
    color: #697fce;
    color: #6c85da;
    color: #5d76cc;
    color: #607bd8;
    color: #608ad8;
    color: #607bd8;
    color: #2d56d0;
    text-decoration: underline;
}

.work-ethics {
    display: block;
    margin-top: 12px;
}

.icon-envelop {
    width: 22px;
}

.footer-icon {
    font-size: 24px;
}

.promo {
    /* color: #94263f; */
    /* color: rgb(65 90 173);
    color: #4258a0; */
    text-decoration: none;
    color: #31313c;
    color: rgba(21, 21, 32, .9);
    color: #4d66b7;
    color: #3f5498;
    color: #2e4180;
    /* color: #4d65b7; */
}

.promo:hover {
    /* color: #4d65b7;
    color: #9c656f;
    color: #9e5c68; */
}

.separator {
    height: 25px;
    opacity: .15;
    margin: 0 12px -3px;
}

.contact-details {
    color: white;
    font-size: 26px;
    font-weight: 400;
    margin-top: 30px;
}

.contact-separator {
    width: 3px;
    margin: 0 15px -5px;
    opacity: .3;
}

.content-container.lg {
    width: 55%;
    display: flex;
    max-width: 1200px;
    max-width: 1140px;
}

.text-highlight {
    font-weight: 500;
    /* color: #7d93e2; */
    /* color: #8da1e8; */
    /* color: #96aaf3;
    color: #96b2f3;
    color: #93b3fb; */
}

.ability-group {
    margin-left: 60px;
}

.abilities {
    background-color: #656575;
    background-color: #43436d;
    border-radius: 10px;
    width: 310px;
    /* margin-right: 5%; */
    /* margin-left: 6%; */
    background-image: linear-gradient(
-45deg
, #232346, transparent);
background-image: linear-gradient( 
-45deg
 , #cea39a, transparent);
    color: white;
    /* padding: 30px; */
    box-sizing: border-box;
    background-image: linear-gradient( 
        220deg
         , #cea39a, #43436d);
         height: fit-content;
}

.abilities h3 {
    color: #f1f5fd;
    color: #cbd6ea;
    color: #dde3ec;
    color: #ffffff;
    color: #7d93e2;
    color: #96aaf3;
    color: #96b2f3;
    color: #ffffff;
    /* color: #a0baf5; */
    /* color: #93b3fb; */
    /* color: #81a8ff; */
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 18px;
    background-color: #212740;
    background-color: #303650;
    /* background-image: linear-gradient(180deg, #222234, #212740);
    background-image: linear-gradient(-55deg, #444f77, #212740);
    background-image: linear-gradient(160deg, #3c445f, #212740);
    background-image: linear-gradient(220deg, #3c435f, #212740); */
    padding: 8px 12px 4px;
    border-radius: 5px;
    text-transform: lowercase;
    font-size: 18px;
    padding: 5px 12px 2px;
    /* font-weight: 600; */
}

.abilities hr {
    background-color: rgb(54 54 64 / 100%);
    background-color: #ffffff;
    border: none;
    height: 2px;
}

.ability {
    padding: 30px 25px;
    margin-bottom: 24px;
}

.ability .symbol {
    /* opacity: .5; 
    color: cyan; */
    /* color: #c6d7ff; */
    color: #b4c1e2;
    color: #8791ab;
    color: #9ea8c3;
    color: #949eb9;
}
.symbol.l {
    margin-right: 2px;
}
.symbol.r {
    margin-left: 2px;
}


.ability li {
    margin-bottom: 5px;
}

.ability li:last-child {
    margin-bottom: 0;
}

.content {
    /* width: 70%; */
}

.content-container.md {
    width: 920px;
}

.jp-chanya {
    font-family: 'Sawarabi Mincho', sans-serif;
    font-size: 17px;
}

.contact-item {
    /* background: -webkit-linear-gradient(0deg, #8da5fb, #cca29a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    transition: all .3s;
    cursor: pointer;
    color: #7d93e2;
}

.contact-item:hover {
    /* background: -webkit-linear-gradient(0deg, #cca29a, #8da5fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #9aaef9;
}
/* 
.contact-no {
    background: -webkit-linear-gradient(0deg, #cca29a, #8da5fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .3s;
    cursor: pointer;
}

.contact-no:hover {
    background: -webkit-linear-gradient(0deg, #8da5fb, #cca29a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.skills {
    display: flex;
    justify-content: space-between;
}

.abilities.skill-box {
    background-image: linear-gradient( 
        160deg
         , #cea39a, #8098cc);
            background-image: linear-gradient( 
        160deg
         , #e0aea3, #8098cc);
            background-image: linear-gradient( 
        160deg
         , #e0aea3, #8098cc);
            background-image: linear-gradient( 
        160deg
         , #e0caa3, #8098cc);
         background-image: linear-gradient( 
            160deg
             , #e0caa3, #718ecc);
    background-image: linear-gradient(180deg, #e0caa3, #718ecc);
    /* background-image: linear-gradient(180deg, #718ecc, #e0caa3); */
}

.abilities.edu-box {
    background-image: linear-gradient( 
        0deg
         , #cea39a, #43436d);
            background-image: linear-gradient( 
        0deg
         , #4e4e6d, #cea39a);
         background-image: linear-gradient( 
220deg
 , #cea39a, #43436d);
 background-image: linear-gradient(180deg, #e0b3a9, #54547d);
 /* background-image: linear-gradient(220deg, #e6b3b3, #54547d); */
 /* background-image: linear-gradient(220deg, #e0b3a9, #54547d); */
 /* background-image: linear-gradient(180deg, #54547d, #e0b3a9); */
}

.cer-box h3 {
    /* color: #dac6a6;
    color: #d69797;
    color: #dca3a3; */
}

.abilities.cer-box {
    background-image: linear-gradient( 
        160deg
         , #cea39a, #8098cc);
            background-image: linear-gradient( 
        160deg
         , #e0aea3, #8098cc);
            background-image: linear-gradient( 
        160deg
         , #e0aea3, #8098cc);
            background-image: linear-gradient( 
        180deg
         , #e0bca3, #8098cc);
            background-image: linear-gradient( 
        0deg
         , #e0bca3, #8098cc);
            background-image: linear-gradient( 
        0deg
         , #dab194, #728bc1);
         background-image: linear-gradient(180deg, #dab194, #728bc1);
         /* background-image: linear-gradient(180deg, #a7abbd, #6679a2);   */
         /* background-image: linear-gradient(180deg, #a0a5b9, #6679a2);           */
         /* background-image: linear-gradient(220deg, #728bc1, #dab194); */
            /* background-image: linear-gradient( 
        180deg
         , #dab194, #728bc1); */
}

.abilities.exp-box {

}

.skill-box h3 {
    /* color: #d6b097; */
    /* color: #dabaa6; */
}




.color-box-group {
    margin-top: 30px;
}
.color-box {
    width: 160px;
    height: 120px;
    margin: 20px 25px 0 0;
    display: inline-block;
    border-radius: 10px;
}
.color-box.a {
    background-image: linear-gradient(220deg, #cea39a, #43436d);
} 
.color-box.b {
    background-image: linear-gradient(160deg, #e0caa3, #8098cc);
} 
.color-box.c {
    background-image: linear-gradient(160deg, #e0caa3, #718ecc);
}
.color-box.d {
    background-image: linear-gradient(160deg, #cea39a, #8098cc);
}
.color-box.e {
    background-image: linear-gradient(160deg, #e0aea3, #8098cc);
}
.color-box.f {
    background-image: linear-gradient(0deg, #945276, #e0caa3);
}
.color-box.g {
    background-image: linear-gradient(180deg, #a0a5b9, #6679a2);
}
.color-box.h {
    background-image: linear-gradient(180deg, #e0b3a9, #5c80ff);
}
.color-box.i {
    background-image: linear-gradient(180deg, #9cc1dc, #728bc1);
}
.color-box.j {
    background-image: linear-gradient(180deg, #9ccadc, #728bc1);
}
.color-box.k {
    background-image: linear-gradient( 
180deg
 , #9ccadc, #5f7fc5);
}
.color-box.l {
    background-image: linear-gradient( 
        180deg
         , #9ccadc, #575cb1);
}
.color-box.m {
    background-image: linear-gradient(180deg, #9ccadc, #b157ac);
}
.color-box.n {
    background-image: linear-gradient(180deg, #9ccadc, #7f417c);
}
.color-box.o {
background-image: linear-gradient( 
180deg
 , #dab194, #c16c6c);
}

.color-box.p {
    background-image: linear-gradient( 
0deg
 , #cea39a, #43436d);
}
.color-box.q {
    background-image: linear-gradient( 
        160deg
         , #7082c1, #41415d);
}
.color-box.r {
    background-image: linear-gradient( 
        210deg
         , #c4e293, #388c9c);
}
.color-box.s {
    background-image: linear-gradient( 
        180deg
         , #dab194, #388c9c);
}
.color-box.t {
    background-image: linear-gradient( 
0deg
 , #6ab7bf, #5d70b1);
}



.ext-link {
    color: #4c5169;
    color: #464c67;
    color: #5f6377;
    color: #4b4d58;
    color: #33446d;
    margin-right: 8px;
    font-size: 12px;
    transition: all .1s;
}
.cer-list-item {
    color: white;
    text-decoration: none;
}
.cer-list-item:hover {
    color: white;
}
.cer-list-item:hover .ext-link {
    color: #222a50;
}




.mission {
    /* background-color: rgb(199 149 140 / 30%); */
    /* background-image: linear-gradient(45deg, rgb(192 183 202), rgb(199 149 140 / 30%));
    background-image: linear-gradient(45deg, rgb(192 183 202 / 70%), rgb(199 149 140 / 20%)); */
    /* width: 80%; */
    /* background-image: linear-gradient(45deg, rgb(197 200 238), rgb(199 149 140 / 40%));
    background-image: linear-gradient(45deg, rgb(197 200 238), rgb(253 221 213));
    background-image: linear-gradient(45deg, rgb(197 200 238), rgb(255 214 211));
    background-image: linear-gradient(45deg, rgb(197 200 238), rgb(247 208 205));
    background-image: linear-gradient(45deg, rgb(197 200 238 / 90%), rgb(247 208 205 / 80%)); */
    /* background-image: linear-gradient(276deg, rgb(49 49 60 / 92%), #48486f);
    background-image: linear-gradient(276deg, rgb(89 95 113), #3f4258);
    background-image: linear-gradient(155deg, rgb(78 84 101), #3f4258);
    background-image: linear-gradient(155deg, rgb(72 86 123), #3f4258); */
    /* border: 1px solid #d8d8e2; */
    /* color: #e6e6e6; */
    /* color: #ffffff; */
    margin-top: 30px;
    padding: 26px 36px;
    border-radius: 12px;
    margin: 45px auto 0;
    background-color: #dedfec;
    background-color: #999ba5;
    background-color: #e7e9f3;
    background-color: #3f4258;
    color: #f5f5f5;
    font-size: 18px;
    background-image: linear-gradient(180deg, rgb(49 49 60 / 90%), hsl(240deg 14% 20% / 90%)), url(../img2/wallpaperbetter-37.jpg);
    background-size: cover;
    background-image: linear-gradient(180deg, rgb(49 49 60 / 40%), hsl(240deg 14% 20% / 40%)), url(../img2/shahadat-rahman-BfrQnKBulYQ-unsplash.jpg);
    background-image: linear-gradient(170deg, rgb(111 143 191 / 50%), hsl(240deg 14% 20% / 50%)), url(../img2/shahadat-rahman-BfrQnKBulYQ-unsplash.jpg);
    background-image: linear-gradient(40deg, rgb(111 143 191 / 60%), hsl(240deg 14% 20% / 60%)), url(../img2/shahadat-rahman-BfrQnKBulYQ-unsplash.jpg);
    padding: 34px 36px 30px;
    display: flex;
    box-sizing: border-box;
    align-items: flex-start;
}

.mission-txtb {
    font-weight: 600;
    /* color: #6adec9;
    color: #b3c5ff;
    color: #eaa09c;
    color: #f5b68a;
    color: #eabd9c;
    color: #eaae9c;
    color: #9ab0ff;
    color: #96b2f3; */
}

.mission-icon {
    width: 40px; 
    width: 36px; 
    margin-right: 20px;
}

.mission-highlight {
    color: #ffc695;
    color: #ffbd95;
}