*, *::before, *::after {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.42857143;
    color: rgba(21, 21, 32, .9);
}

.section {
    padding: 100px 0 80px;
    padding: 120px 0;
}

.section.header {
    padding-bottom: 0;
}

.chdot {
    color: #f5b3b5;
}

.header-nav {
    position: fixed;
    width: 100%;
    z-index: 999;
    background: rgba(0,0,0,0.8);
    background: rgb(26 26 33 / 85%);
    background: rgb(33 33 41 / 85%);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.brand {
    display: flex;
    align-items: center;
}

.chanya-hanako-brand {
    color: #ffffff;
    font-family: 'Sawarabi Mincho', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 19px;
    font-size: 22px;
    padding: 0 0 0 5px;
}

.jp-name-brand {
    font-family: 'Sawarabi Mincho', sans-serif;
    font-size: 19px;
}

.header-nav li {
    display: inline-block;
    margin: 0 0 -2px 30px;
}

.header-nav li:first-child {
    margin-left: 0;
}

h2.contact {
    /* color: rgb(83 83 109);
    color: rgb(65 84 146);
    color: rgb(74 91 146); */
    color: white;
    color: #d4d4e0;
    color: #e9e9f1;
    color: #8a9ee4;
    font-family: 'Source Code Pro', monospace;
    font-size: 26px;
}

.header-nav li a {
    font-size: 19px;
    font-weight: 500;
    text-decoration: none;
    color: #45b29a;
    color: #5d75c1;
    color: #475ca7;
    color: #697fce;
    color: #8c9fe0;
    color: #99adef;
    color: #9caee8;
    transition: all .2s;
}

.header-nav li a:hover, .header-nav li a:active, .header-nav li a.active {
    color: #8c9fe0;
    color: #9aacea;
    color: #aebef5;
    color: #bfceff;
    color: #cdd8ff;
    color: #d4deff;
    color: #dee6ff;
}

.header-nav li a:hover {
    /* background-color: #b1e0d5; */
    /* text-decoration: none; */
    color: #f1f4fd;
}

.nav-container {
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-brand-icon {
    width: 42px;
    padding: 10px 10px 10px 0;
}

h1 {
    color: #1e836c;
    color: #4a62b1;
    color: #31313c;
    /* color: #5d75c1; */
    color: #424258;
    color: #31313c;
    /* color: #1d1d26; */
    font-size: 2.8em;
    font-weight: 500;
    text-align: center;
}

h1.title {
    color: #ffffff;
    font-size: 82px;
    font-size: 78px;
    font-weight: 500;
    margin-bottom: 16px;
    text-align: center;
}

.title-inline {
    color: #748de4;
    color: #a5b5ec;
    font-size: 40px;
    font-weight: 600;
    display: block;
}

.occupation {
    font-weight: 400;
    font-size: 27px;
    color: rgb(134 134 156);
    color: rgb(144 144 167);
}

.jp-name {
    font-size: 36px;
    margin-top: -10px;
    letter-spacing: 0px;
    font-family: 'Sawarabi Mincho', sans-serif;
}

h2 {
    color: rgb(49 49 60 / 70%);
    color: #31313c;
    font-size: 27px;
    margin-bottom: 24px;
    font-weight: 500;
}

p {
    font-size: 20px;
}

.content-container {
    width: 860px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.introduction {
    width: 1200px;
}

.colored-section {
    background-color: #31313c;
    background-image: linear-gradient(180deg, #31313c, #2c2c3a);
    /* background-image: linear-gradient(180deg, #2c2c3a, #31313c); */
}

.chanyahanako {
    text-align: center;
    padding-top: 160px;
}

.intro {
    background-color: #26262f;
    background-color: #151520;
    color: #9eacdc;
    color: #abb7e0;
    background-image: linear-gradient(-60deg, #151520, #222235);
    padding: 70px 0;
}

.header-img {
    margin-top: 72px;
    margin-bottom: -7px;
    width: 85%;
}

.top-cloud {
    position: absolute;
    right: 0;
}

.bottom-cloud {
    position: absolute;
    left: 0;
}

footer {
    background: #c5ded7;
    background-color: #d6e0ef;
    background-color: #bacbe4;
    background-color: #ccd1e6;
    background-color: #cacfe4;
    background-color: rgba(204, 209, 230, .8);
    background-color: rgb(61 82 152);
    background-color: rgb(49 68 130);
    background-color: rgb(63 84 150);
    padding: 3.5em 0 3em;
}

.profile-section {
    text-align: center;
}

.profile-content {
    /* width: 70%; */
    margin: 0 auto;
}

.profile-content h2 {
    color: #abb7e0;
    color: #aebcec;
    color: #abb7e0;
    color: #c8d3f7;
    color: #d8e1ff;
    color: #748de4;
    color: #7c93e2;
    font-family: 'Source Code Pro', monospace;
    font-size: 26px;
}

.cta-btn {
    background-color: #5a74d0;
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    padding: 18px 40px;
    text-decoration: none;
    transition: all .3s;
    margin: 10px 0 40px;
}

.cta-btn:hover {
    background-color: #31313c;
    background-color: #435aa5;
    background-color: #5b81ff;
    background-color: #6b8bfd;
}

.icon {
    font-size: 22px;
    margin-right: 8px;
}

.services h1, .contact h1  {
    margin-bottom: 20px;
}

.contact h1 {
    color: #748de4;
    color: #738cda;
    color: #dfdfea;
    color: #e9e9f1;
    /* color: #6b4c64;  */
    /* color: #86667f; */
    /* color: #9a7b93; */
    /* color: #a98ea3; */
    /* color: #bda0b7; */
    /* color: #ceadc7; */
    /* color: #bf8da4; */
    /* color: #bf8d92; */
    /* color: #bf8d9b; */
    /* background: -webkit-linear-gradient(45deg, #be9895, #bd7d86);
    background: -webkit-linear-gradient(45deg, #be9895, #c78a93); */
    /* background: -webkit-linear-gradient(45deg, #c78a93, #be9895); */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    margin: 0 auto 15px; */
    margin-bottom: 15px;
}

.service-item {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.service-item:last-child {
    margin-bottom: 0;
}

.service-item.design {
    text-align: left;
    margin-top: 30px;
}

.service-item.design img {
    margin-right: 50px;
    height: 180px;
}

.service-item.dev {
    text-align: right;
}

.service-item.dev img {
    margin-left: 50px;
    height: 160px;
}

.service-item.summary {
    /* width: 90%; */
    margin: 0 auto;
}

.section.contact {
    /* background-color: #ab8695;
    background-image: linear-gradient(45deg, #7178aa, #f3eee8);
    background-image: linear-gradient(45deg, rgb(113 120 170 / 80%), rgb(243 238 232));
    background-image: linear-gradient(45deg, rgb(113 120 170 / 90%), rgb(243 238 232));
    background-image: linear-gradient(45deg, rgb(115 141 228), rgb(207 164 154 / 62%));
    background-image: linear-gradient(45deg, rgb(88 123 243 / 40%), rgb(239 186 191 / 62%));
    background-image: linear-gradient(45deg, rgb(96 127 230 / 40%), rgb(234 188 192 / 62%));
    background-image: linear-gradient(45deg, #5a559882, #6375ab78, #c299949e);
    background-image: linear-gradient(45deg, #4c4c7d, #1c1f33, #cc9b97);
    background-color: #4b4b5a;
    background-color: #3b3b48;
    background-color: #2a2a33; */
    background-color: #2b2b38;
    background-image: linear-gradient(30deg, #2b2b38, #222640, #2b2f48);
    background-image: linear-gradient(30deg, #2b2b38, #222840);
    background-image: linear-gradient(30deg, #2b2b38, #222640);
    color: #ffffff;
    color: #c1c1d0;
    padding: 90px 0;
}

/* .section.about {
    padding: 90px 0;
} */

footer .content-container {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul li {
    list-style-type: none;
    display: inline-block;
}

footer ul li a {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #4b5fa0;
    color: rgba(93, 117, 193, 1);
    color: white;
    display: inline-block;
    margin-left: 18px;
    margin-bottom: 0;
    transition: all .3s;
}

footer ul li a:hover {
    /* opacity: .6; */
    color: #949db7;
    color: #9fa9c5;
    color: #31313c;
    color: #c6cad6;
    /* background: -webkit-linear-gradient( #363646, #686888);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #343c52;
}

footer {
    font-size: 18px;
    background-image: linear-gradient(45deg, #7178aa, transparent);
    background-image: linear-gradient(45deg , #555d98, transparent);
    background-image: linear-gradient(45deg, #555d98, #6375ab, #555d98);
    background-image: linear-gradient(45deg, #555d98, #6375ab, #c29994);
    background-image: linear-gradient(45deg, #151520, #31313c, #151520);
    background-image: linear-gradient(45deg, #31313c, #151520, #31313c);
    background-image: linear-gradient(45deg, #31313c, #393a54, #31313c);
    background-image: linear-gradient(45deg, #555d98, #6375ab, #c29994);
    background-image: linear-gradient(45deg, #545fad, #6375ab, #c29994);
    background-image: linear-gradient(45deg, #6375ab, #c29994, #525a94);
    background-image: linear-gradient(45deg, #5367a2, #c29994, #545fad);
    background-image: linear-gradient(45deg, #6375ab, #c29994, #545fad);
    padding: 40px 0 30px;
    padding: 30px 0 20px;
    /* opacity: .9; */
}

.copyrights {
    font-size: 18px;
    color: #727c9c;
    color: #a8b1cc;
    color: #949db7;
    color: #ffffff;
}

.bxh {
    background-color: #ffeaca;
    /* background-color: #fff1ca; */
}

.bxh-g {
    background-color: #c7f9ee;
    background-color: rgb(244 160 160 / 40%);
}

.txh {
    font-family: 'Cormorant Garamond', serif;
    font-size: 23px;
    font-style: italic;
    font-weight: 600;
}

.txb {
    font-weight: 600;
}

.txhl {
    color: #748de4;
    color: #5d75c7;
    color: #4d65b7;
    color: rgba(21, 21, 32, .9);
    color: white;
    color: #5a72c7;
    cursor: pointer;
    font-weight: 400;
    text-decoration: underline;
}

.txhl:hover {
    color: #697fce;
    color: #6c85da;
    color: #5d76cc;
    color: #607bd8;
    color: #608ad8;
    color: #607bd8;
    text-decoration: none;
}

.work-ethics {
    display: block;
    margin-top: 12px;
}

.icon-envelop {
    width: 22px;
}

.footer-icon {
    font-size: 26px;
}

.promo {
    /* color: #94263f; */
    /* color: rgb(65 90 173);
    color: #4258a0; */
    text-decoration: none;
    color: #31313c;
    color: rgba(21, 21, 32, .9);
    color: #4d66b7;
    color: #3f5498;
    color: #2e4180;
    /* color: #4d65b7; */
}

.promo:hover {
    /* color: #4d65b7;
    color: #9c656f;
    color: #9e5c68; */
}

.separator {
    height: 25px;
    opacity: .8;
    margin: 0 6px -3px;
}

.contact-details {
    color: white;
    font-size: 26px;
    font-weight: 400;
    margin-top: 30px;
}

.contact-separator {
    width: 3px;
    margin: 0 15px -5px;
    opacity: .3;
}